@import './variables';

@font-face {
    font-family: "Heebo";
    src: local("Heebo"), url('./fonts/Heebo-VariableFont_wght.ttf') format('truetype');

}

$appPrimary: lighten($color: $primary, $amount: 15%);
$borderColor:lighten($color: $primary, $amount: 50%);
$textColor:lighten($color: $primary, $amount: 5%);
* {
    box-sizing: border-box;
    font-size: $regular;
    font-family: Heebo, serif;
    
}
@mixin struct {
    width: 800px;
    margin: 20px auto;
}

table {
    // background: $appPrimary;
    width: 100%;
    text-align: center;

    tr,
    th,
    td {
        border: 1px solid $borderColor;
    }

    tfoot {
        td {
            border: 0;
        }
    }
}

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $textColor;

    // border: 2px solid $appPrimary;
    .img{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        img{
            width: 90%;
            height: auto;
            border-radius: 6px;
        }
    }


    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: $large+5;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }
        h3{
            font-size: $regular+5;

        }
        p{
            font-weight: $medium;
            margin: 5px 0;
        }
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            font-size: $small;
            font-style: italic;
            
            
            li{
                position: relative;
                margin-right: 10px;
                &::after{
                    content:', ';
                    position:absolute;
                    bottom: 0;
                }

                &:last-of-type{
                    margin-right: 0px;
                
                    &::after {
                        display: none;
                
                    }
                }
            }

        }
    }
}


section{
    margin: 25px auto;
    color: $textColor;
    .title{
        display: block;
        width: 100%;
        background-color: $appPrimary;
        text-align: center;
        margin: 0;
        padding: 5px 0;
        border-color: $appPrimary;
        border-radius: 6px 6px 0 0;
        color: $white;
    }

    &.student_info{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;


        div{
            text-align: center;
            min-width: 150px;
            width: fit-content;
            border: 1px solid $appPrimary;
            padding: 5px 15px;
        }


        .label{
            font-weight: bold;
            // position: relative;
            margin-right: 10px;
            &::after{
                content:':';
                position: relative;
                right: 0px;
                bottom: 0;
            }
        }
    }

    &.remarks{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .remark__item{
            border: 1px solid $borderColor;
            padding: 10px;
            position: relative;
            border-radius: 6px;
            width: 380px;

            p{
                margin-bottom: 10px;
                font-size: $small+5;
            }
            .details{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 15px;
                text-align: right;
                h4{
                    font-size: $regular;
                    margin: 0;
                }
                span{
                    font-size: $small;
                }
                .img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }

    &.scalings{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;

        .ball{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $appPrimary;
            color: $white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 2px auto;
            font-size: $small;
        }

        table{
            thead {
                tr {
                    border: 0;
                    margin: 0;
                    
                    th{
                        border: 0;
                        padding: 0;
                        margin: 0;
                    }
                    
                }
            }
        }
    }
}


footer{
    
    display: flex;
    align-items: center;
    // justify-content: space-between;
    column-gap: 5px;
    padding: 0 5px;
    
    span, small{
        color: $gray;
        font-size: $small;
    }
}


.download_btn{
    position: fixed;
    bottom: 45px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: $appPrimary;
    border: 0;
    color: $white !important;
    border-radius: 50px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus{
        outline: none;
    }

    i{
        font-size: $medium;
    }

    &.checked{
        background-color: darken($color: $green, $amount: 20%);
    }
    &.error{
        background-color: darken($color: $red, $amount: 10%);
    }
}



@media print {
    .download_btn{
        display: none;
    }
}

@media screen {
    
    header,
        section,
        footer {
            @include struct();
        }
}