@import './variables';

.school_sets{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
    .set_card {
        width: 250px;
        background-color: $white;
        box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
        border-radius: 8px;
        cursor: pointer;

        height: 250px;
    
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        &.disabled{
            background-color: $gray;
            opacity: 0.5;
            cursor: default;
        }


        .title{
            display: flex;
            // justify-content: space-around;
            align-items: center;

            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary;
                margin: 0 20px;
                i {
                    font-size: $medium +10 ;
                }
            }

            h2 {
                font-size: $medium;
                font-weight: 700;
            }
            h3 {
                font-size: $regular +5 !important;
                opacity:0.6;
                text-align: center;
            }
        }

        .detail{
            height: 100%;
            display:flex;
            // flex-wrap: wrap;
            align-items:center;
            justify-content: space-between;
            
            padding: 10px;
            font-size: $base;
            &_item{
                span{
                    display: block;
                    margin-left: 5px;
                }
            }

            .ribbi{
                display: flex;
                flex-direction: column;
                text-align: center;
                color: $green;
                border-radius: 50%;
                span{
                    i {
                        font-size: $medium +5;
                    }
                }
            }
        }

        .stats{
            background-color:$lightgray;
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            &_item{
                width: 84px;
                height: 55px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                b{
                    font-size: $medium;
                }
                span{
                    font-size: $regular;
                    color:darken($color: $gray, $amount: 20%);
                }
            }
        }

        &.new_set{
            cursor:default;
            align-items: center;
            justify-content: center;
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                color: $primary;
        
                i {
                    font-size: $large*3;
                }
        
                // text-align: center;
            }
            
            p {
                margin: 5px;
                font-size: $medium;
                font-weight: 600;
            }
        }


    }
}


.set_students{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
    .student_card{
        width: 200px;
        background: $white;
        border-radius: 8px;
    
        display: flex;
        flex-direction: column;

        .passport{
            height: 150px;
            overflow: hidden;
            padding: 5px 0;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 90%;
                height:auto;
            }
        }

        .name{
            font-size: $medium -3;
            text-align: center;
            font-weight: bold;
            margin: 5px 0;
        }
        .admission_number{
            font-size: $medium -5;
            text-align: center;
            opacity:0.5;
        }

        .detail{
            margin:5px;
            &_item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px 5px;
                b{
                    opacity: 0.5;
                }
            }
        }


    }
}


.no_act {
    width: max-content;
    margin: 20% auto;
    text-align: center;

    &.carded {
        margin: 12% auto;
        background: $white;
        border-radius: 8px;
        padding: 15px;
        min-width: 300px;
        min-height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.error {

        .icon,
        p,
        h1 {

            color: $red;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color: $primary;

        i {
            font-size: $large*3;
        }

        // text-align: center;
    }

    h1 {
        font-size: $extraLarge*2;
        color: $fadegray;
        font-weight: 700;
        margin: 5px;
    }

    p {
        margin: 5px;
        font-size: $medium;
        font-weight: 600;
    }
}