/* Modal */

.appModal {
    position: fixed;
    top: 0px; //70px;
    left: 0px; //270px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 208, 208, 0.445);
    z-index: 9999 !important;
    /* padding: 25px 0 0 0; */
}

.appModal .card {
    border-radius: 5px;
    min-width: 300px;
    max-width: calc(80% - 30px);
    max-height: 80%;
    margin-top: 70px;
    margin-left: 270px;
    .card-body {
        overflow-y: auto;
    }
}

.appModal .btn-close {
    outline: none;
    border: none;
    top: 15px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
}

.appModal ul {
    width: 500px;
}